* {
    margin: 10px auto;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
  }

  body {
    width: 99%;
    height:100%;
    font-family: 'Open Sans', sans-serif;
    background: #092756;
    color: #fff;
    font-size: 18px;
    text-align:center;
    letter-spacing:1.2px;
  }

  h1{ 
    color: #fff; 
    text-shadow: 0 0 10px rgba(0,0,0,0.3); 
    letter-spacing:1px; 
    text-align:center; 
  }

  form {    
    width: 50%;
    margin-bottom: 10px;
    background: rgba(0,0,0,0.3);
    border: none;
    outline: none;
    padding: 10px;
    font-size: 25px;
    color: #fff;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 10px;
    box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
 }

  #button {
    background-color: rgb(255, 255, 255);
    border: 0.5px solid black;
    padding: 5px 30px;
    margin: 10px;
    outline: none;
  }

  #result {
    background: rgba(0,0,0,0.3);
  }

  #container {
    width: 80%;
    margin: auto;
    text-align: center;
    border: 2px solid black;
    padding: 10px;
    border-radius: 10px;
  }

  #file{
    outline: none;
  }